body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  /background-color: #ffffff;
  margin: 0;
  padding: 0;
}

/* Сброс дефолтных стилей списков и ссылок */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
